/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 $categories: 'nacional', 'entretenimiento', 'tecnologia', 'mascotas', 'deportes';
 $backgrounds: #00B049, #FFC915, #00D3F8, #90456D, #FF372C;
 
 @each $category in $categories {
   $index: index($categories, $category);
   .#{$category} {
	 max-width: 45%;
	 margin: 0 auto;
	 padding: 50px;
	 color: #FFFFFF;
	 background-color: nth($backgrounds, $index);
   }
 }